// COLORS

$color-white: #fff;
$color-blue: #4b6cc1;


$color-black: #121316;

$pink: #ff005a;
$pink-light: #ff4184;



//////***** New variables /////

$primary-gradient:linear-gradient(137.01deg ,#d5fc78 -3.62%,#bcf48b 36.69%,#98e7a2 97.7%);
$primary-color:#bcf48b;


$tw-text-opacity :1;