.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    &_logo {
        color: $color-white;
        font-weight: 600;
        font-size: 3rem;
        margin: 3rem;
        cursor: pointer;
        font-family: 'Sofia' !important;
        list-style: none;
        @include respond(tab-port) {
            font-size: 8rem;
        }

        @include respond(phone) {
            font-size: 2rem;
        }
    }

    &_logo::after {
        content: "";
        max-width: 30%;
        height: 0.6rem;
        background: $primary-color;
        display: block;
        border-radius: 10rem;
        margin-top: 0.8px;
        transition:max-width ease 0.3s;
    }

    &_logo:hover::after {
        max-width: 10%;
    }

    &_menu_list {
        display: flex;
        list-style: none;
        justify-content: space-between;
        margin: 3rem;

        @include respond(tab-port) {
            display: none;
        }
    }

    &_list_item {
        margin: 1rem 1rem;
        cursor: pointer;
        position: relative;
        font-size: 2.5rem;
        color: grey;
    }

    &_list_item::after {
        transform: translateX(-50%);
        content: "";
        width: 20%;
        height: 0.6rem;
        background: $primary-color;
        display: block;
        border-radius: 10rem;
        margin-top: 0.8rem;
        opacity: 0;
        transition: all ease .3s;
        position: absolute;
        left: 50%;
    }

    &_list_item:hover::after {
        width: 60%;
        opacity: 1;
    }

    &_list_item:hover {
        color: $color-white;
        transition: all ease .2s;
    }
}

.navigation {
    display: none;
    @include respond(tab-port) {
        display: block;
    }
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;

        @include respond(tab-port) {
            top: 4rem;
            right: 4rem;
        }

        @include respond(phone) {
            top: 3rem;
            right: 3rem;
        }
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-black, $color-white);
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

        @include respond(tab-port) {
            top: 4.5rem;
            right: 4.5rem;
        }

        @include respond(phone) {
            top: 3.5rem;
            right: 3.5rem;
        }
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-black 50%);
            background-size: 220%;
            transition: all .4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }
        
        &:hover,
        &:active {
            background-position: 100%;
            color: $primary-color;
            transform: translateX(1rem);
        }
    }


    //FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }


    //ICON
    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-black;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.8rem; }
        &::after { top: .8rem; }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}