.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 80%;
    margin: 0px auto;
    gap: 5rem;

    &_links {
        display: flex;
        gap:2rem;
        padding:1rem;
        a {
            color: #80b7d6 !important;
            font-size: 2rem !important;

            :hover {
                text-decoration: underline;
                transition: cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }
    }

    &_tags {
        display: flex !important;
        flex-wrap: wrap;
        row-gap:0.5rem;
    }

    .card {
        height: auto;
        padding: 1rem;
    }
    
}