.tag {
    &_content {
        display: inline-block;
        background-color: #8dadda;
        color: #fff;
        border-radius: 5px;
        padding: 0 5px;
        margin-right: 5px;
        font-size: 1.4rem;
    }
}