.site_about_heading {
    text-decoration: underline;
    text-underline-offset: 2rem;
}

.about_info {
    text-align: justify;
    color: white;
    font-size: 2rem;
    width: 80%;
    margin: 0px auto;
}

.about_info p:not(:last-child) {
    margin-bottom: 1rem;
}

.footer_section {
    color: white;
}

.brand_heading {
    text-align: center;
    width: 40%;
    margin:0px auto
}

.companies_info {
    /* background-color: #e4f5f2; */
}

@media screen and (max-width: 600px) {
    .brand_heading { 
        width: auto;
    }
}

.vertical-timeline-element--date {
    color: white;
    font-size: 2rem !important;
    top: -4px !important;
}

.vertical-timeline-company-name {
    font-size: 2rem !important;
}

.vertical-timeline-company-location {
    font-size: 1.6rem !important;
}